<h1 class="title"><%= @room.name %></h1>
<h2 class="subtitle"><%= @room.subtitle %></h2>


<%= for message <- @messages do %>
    <div style="margin-left: <%= message.depth * 50 %>px">
        <%= message.txt %>
    </div>
<% end %>
