<div class="container">
<h1 class="title">Upload file to preview</h1>
<%= form_for @conn, "/preview/article", [as: :upload, multipart: true], fn f -> %>

<div class="form-group">
    <label class="subtitle">Mardown file</label>
    <%= file_input f, :docfile, class: "input form-control" %>
</div>
<br>
<div class="form-group">
    <%= submit "Submit", class: "button" %>
</div>
<% end %>
</div>