/* This file is for your main application css. */
@import "./bulma.css";

@font-face {
  font-family: "Vollkorn";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Vollkorn-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Vollkorn-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Vollkorn";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Vollkorn-SemiboldItalic.woff2") format("woff2");
}

.stick-to-bottom {
    position: fixed;
    background-color: transparent;
    width: 350px;
    bottom: 40px;
    right: 0;
}

.searchInput {
    max-width: 300px;

}


.line {
  font-size: 1.6em;
  font-family: "Vollkorn";
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .stick-to-bottom {
        width: 100%;
    }
}


.text-div {
    text-align: justify;
    text-justify: inter-word;
}


.bigIcon {
  font-size: x-large;
}

.logo {
    font-size: x-large;
}

.notAlwaysVisible {
  visibility: hidden;
}

.neverVisible {
  visibility: hidden;
}

.nav-black {
    background-color: #363636;
    width: 100%;
}

.white-text {
 color: white;
}

a.white-text:hover {
    color: #3273dc;
}

.spacer {
    height: 15px;
}

.note.activeIcon {
    color: #3273dc;
}

.note {
    color: #a8d1ff;
}

.line.selected span {
    background-color: #a8d1ff;
}

.selected {
    background-color: #a8d1ff;
}

#cy {
    min-width: 300px;
    min-height: 700px;
}


/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}


.hidden {
    display: none;
}

.margin-bottom {
   margin-bottom: 5px;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
